# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
node_modules_*
/.pnp

.pnp.js

# testing
/coverage

# production
/build
/docs/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Secret (env)
/myapp.key
/cargo.token
/function_to_encrypt.js
/auth_algo

# Added by cargo

/target