@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  transition: all 125ms linear;
  @apply w-[100%] min-h-screen h-[auto] flex flex-col bg-gray-100 text-slate-800;
}

* {
  user-select: none;
}

::-webkit-scrollbar {
  width: none;
  display: none;
}

::-webkit-scrollbar:horizontal {
  width: 1px;
}

/*
Item pallete
*/
.n-item {
  @apply w-16 h-16 justify-center items-center relative flex text-white bg-transparent hover:bg-gray-800;
  border-radius: 20%;
  border-color: transparent;
  margin-top: 8px;
  transition: all 200ms linear;
}

.nav .n-item {
  @apply text-slate-700 hover:bg-gray-100 !important;
}

.nav .n-item:active,
.nav .active {
  @apply bg-gray-100 shadow-2xl !important;
}

.n-item:active,
.active {
  @apply bg-gray-900 shadow-2xl;
  border-width: 9px;
  border-style: solid;
  border-radius: 30%;
  transition: padding 125ms linear;
  animation: clickAnimation 250ms linear;
}

.n-item-settings:active svg, .active-settings svg {
  animation: circleAnimation 0.75s linear !important;
}

@keyframes circleAnimation {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(40deg);
  }
  to {
    transform: rotate(320deg);
  }
}

.n-item:hover {
  border-width: 9px;
  border-style: solid;
  border-radius: 30%;
}

@keyframes clickAnimation {
  from {
    padding: 0%;
  }
  10% {
    padding: 10%;
  }
  85% {
    padding: 10%;
  }
  100% {
    padding: 0%;
  }
}

/*
Backgrounds Super
*/
.bg-blue-super {
  @apply bg-gray-300;
}
.bg-blue-super-d {
  @apply bg-gray-700;
}

@layer utilities {
  .button {
    @apply bg-blue-800 text-white rounded-lg w-[60%] h-[50px] mt-[10px];
    min-height: 50px;
    transition: all 250ms linear;
  }

  .button:hover {
    @apply bg-blue-900;
  }

  .button-success {
    @apply bg-green-700 hover:bg-green-800;
  }

  .button-danger {
    @apply bg-red-700 text-white rounded-lg w-[60%] h-[50px] mt-[10px];
    min-height: 50px;
    transition: all 250ms linear;
  }

  .button-danger:hover {
    @apply bg-red-800;
  }

  .button:disabled,
  .button-danger:disabled {
    @apply bg-gray-500;
  }

  .nav-link {
    @apply mx-2 text-slate-500 hover:text-slate-700;
    transition: all 200ms linear;
    font-size: 20px;
  }
}

/*
Menu items
*/
.menu {
  @apply items-center flex w-[99%] h-[97%] bg-gray-300 rounded-lg shadow-lg flex-col mx-auto my-auto mt-auto;
  transition: all 500ms linear;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.menu-d {
  @apply items-center flex w-[99%] h-[97%] bg-gray-700 rounded-lg shadow-lg flex-col mx-auto my-auto mt-auto;
  transition: all 500ms linear;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
