@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
  @apply w-[25%] text-black bg-gray-300 bg-opacity-100 rounded-xl shadow-md flex py-5;
  @apply flex flex-col items-center text-center pt-[1em];
  transition: all 500ms linear;
  cursor: pointer;
}

.link-dark {
  @apply bg-gray-800 hover:bg-gray-900 bg-opacity-100 text-white;
}

.link img {
  width: 128px;
  height: 128px;

  min-width: 128px;
  min-height: 128px;

  max-width: 128px;
  max-height: 128px;
}

.link h1 {
  @apply mt-3 text-3xl;
}

/*
Checkbox
*/
.checkbox {
    @apply bg-white w-[98%] rounded-lg shadow-md p-[auto] min-h-[4rem] h-[auto] flex;
    transition: all 125ms linear;
    cursor: pointer;
  }
  
  .checkbox-special {
    @apply flex-col;
  }
  
  .checkbox-special-child {
    @apply min-h-[4rem] flex p-[auto];
  }
  
  .checkbox:hover {
    @apply bg-gray-200;
  }
  
  .checkbox h6 {
    @apply text-black my-auto;
  }
  .checkbox p {
    @apply text-gray-600;
  }
  
  .checkbox-d p {
    @apply text-gray-400;
  }
  
  .checkbox-d {
    @apply bg-gray-800 w-[98%] rounded-lg shadow-md p-[auto] min-h-[4rem] h-[auto] flex;
    transition: all 500ms linear;
    cursor: pointer;
  }
  
  .checkbox-d:hover {
    @apply bg-gray-900;
  }
  
  .checkbox-d h6 {
    @apply my-auto;
    color: var(--text);
  }