@tailwind base;
@tailwind components;

:root {
  --opacity: 0.75;
  --text: white;
}

::-webkit-scrollbar {
  width: none;
  display: none;
}

::-webkit-scrollbar:horizontal {
  width: 1px;
}
/*
Navigation
*/
.nav {
  transition: color 500ms linear;
  background-color: white;
}
.nav-d {
  transition: color 500ms linear;
  background-color: gray;
}

.nav * {
  @apply text-slate-700 !important;
}

.search-input-search-icon:focus {
  @apply rounded-br-md rounded-tr-md !important;
}

/*
Item pallete
*/
.n-item {
  @apply w-16 h-16 justify-center items-center relative flex text-white bg-transparent hover:bg-gray-800;
  border-radius: 20%;
  border-color: transparent;
  margin-top: 8px;
  margin-left: 0px;
  margin-right: 0px;
  transition: all 200ms linear;
}

.n-item-h {
  margin-top: 0px;
  margin-left: 8px;
  margin-right: 8px;
}

.nav .n-item {
  @apply hover:bg-gray-100 !important;
}

.nav .n-item:active,
.nav .active {
  @apply bg-gray-100 shadow-2xl !important;
}

.n-item:active,
.active {
  @apply bg-gray-900 shadow-2xl;
  border-width: 9px;
  border-style: solid;
  border-radius: 30%;
  transition: padding 125ms linear;
  animation: clickAnimation 250ms linear;
}

.n-item-settings:active svg,
.active-settings svg {
  animation: circleAnimation 0.75s linear !important;
}

.n-item-h:active {
  animation: none;
}

@keyframes circleAnimation {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(40deg);
  }
  to {
    transform: rotate(320deg);
  }
}

.n-item:hover {
  border-width: 9px;
  border-style: solid;
  border-radius: 30%;
}

@keyframes clickAnimation {
  from {
    padding: 0%;
  }
  10% {
    padding: 10%;
  }
  85% {
    padding: 10%;
  }
  100% {
    padding: 0%;
  }
}

/*
Backgrounds Super
*/
.bg-blue-super {
  @apply bg-gray-300;
}
.bg-blue-super-d {
  @apply bg-gray-700;
}

/*
*/
.menu {
  @apply items-center flex w-[99%] h-[98vh] bg-gray-300 rounded-lg shadow-lg flex-col mx-auto my-auto mt-auto;
  transition: all 500ms linear;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.menu-d {
  @apply items-center flex w-[99%] h-[98vh] bg-gray-700 rounded-lg shadow-lg flex-col mx-auto my-auto mt-auto;
  transition: all 500ms linear;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/*
App pallete
*/
.apps {
  background: rgb(255, 255, 255);
}
.apps-d {
  @apply bg-gray-800;
}

/*
Checkbox
*/
.checkbox {
  @apply bg-white w-[98%] rounded-lg shadow-md p-[auto] min-h-[4rem] h-[auto] flex;
  transition: all 125ms linear;
  cursor: pointer;
}

.checkbox-special {
  @apply flex-col;
}

.checkbox-special-child {
  @apply min-h-[4rem] flex p-[auto];
}

.checkbox:hover {
  @apply bg-gray-200;
}

.checkbox h6 {
  @apply text-black my-auto;
  cursor: pointer;
}
.checkbox p {
  @apply text-gray-600;
}

.checkbox-d p {
  @apply text-gray-400;
}

.checkbox-d {
  @apply bg-gray-800 w-[98%] rounded-lg shadow-md p-[auto] min-h-[4rem] h-[auto] flex;
  transition: all 500ms linear;
  cursor: pointer;
}

.checkbox-d:hover {
  @apply bg-gray-900;
}

.checkbox-d h6 {
  @apply my-auto;
  cursor: pointer;
  color: var(--text);
}

.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  padding: auto;
  width: 40px; /* Full-width */
  height: 20px; /* Specified height */
  @apply bg-gray-400 my-auto rounded-lg;
  outline: none; /* Remove outline */
  opacity: var(
    --opacity
  ); /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  cursor: pointer;
}
.checkbox-d .slider {
  @apply bg-gray-300;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 14px; /* Set a specific slider handle width */
  height: 14px; /* Slider handle height */
  background: darkgreen; /* Green background */
  border-radius: 50%;
  cursor: pointer; /* Cursor on hover */
}
.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04aa6d; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider-disabled::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 14px; /* Set a specific slider handle width */
  height: 14px; /* Slider handle height */
  background: darkred; /* Green background */
  border-radius: 50%;
  cursor: pointer; /* Cursor on hover */
}

.slider-disabled::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: rgb(170, 4, 4); /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.checkbox-d:hover,
.checkbox:hover {
  --opacity: 1;
}

/*
User Panel
*/
.user-d {
  @apply mt-4 bg-gray-800 w-[98%] rounded-lg shadow-lg p-[auto] h-[43rem] flex flex-col;
  transition: all 500ms linear;
}
.user {
  @apply mt-4 bg-gray-100 w-[98%] rounded-lg shadow-lg p-[auto] h-[43rem] flex flex-col;
  transition: all 500ms linear;
}

.img {
  @apply mt-2 mx-auto;
  position: relative;
  width: 50%;
  border-radius: 50%;
}

.user .div {
  @apply bg-gray-200;
}

.img .div {
  @apply bg-gray-500 text-sky-800 mx-auto mt-2 flex items-center justify-center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 500px;
  width: 500px;
  opacity: 0;
  transition: 0.5s ease;
  cursor: pointer;
  border-radius: 50%;
}

.img .div-l {
  @apply bg-gray-300 !important;
}

.img-dev .div-l {
  @apply bg-gray-100 shadow-xl !important;
}

.user-d img,
.user img {
  transition: all 250ms linear;
  @apply mx-auto mt-2;
  display: block;
  width: 500px;
  min-width: 500px;
  max-width: 500px;
  border-radius: 50%;
  height: 500px;
  min-height: 500px;
  max-height: 500px;
}

.name h1 {
  font-size: 60px;
}

.name h6 {
  margin-top: 1px;
  font-size: 25px;
}

.user h1,
.user h6 {
  @apply text-gray-800;
}

.user-d h1,
.user-d h6 {
  @apply text-gray-400;
}

.img:hover .div {
  opacity: 0.7;
}

.text {
  color: white;
  font-size: 35px;
  position: absolute;
  text-align: center;
}

.text-l {
  @apply text-slate-400;
}

.select {
  @apply px-2 py-[auto] w-[10.5rem] h-[30px] my-auto ml-auto rounded-xl bg-gray-300 text-slate-700;
  cursor: pointer;
  transition: all 250ms linear;
}

.select optgroup {
  @apply text-black;
}

.select option {
  @apply text-red-700;
}

.select-d {
  @apply bg-black text-slate-100;
}

.select-d optgroup {
  @apply text-white;
}

.select-d option {
  @apply text-gray-300;
}

.img-dev {
  @apply mt-2 mx-auto rounded-md;
  width: 256px;
  height: 256px;
  position: relative;
}

.img-dev img {
  @apply rounded-lg;
}

.div-m {
  margin: 0 !important;
  height: 256px !important;
  width: 256px !important;
  min-height: 256px !important;
  min-width: 256px !important;
  max-width: 256px !important;
  min-width: 256px !important;
  border-radius: 0.375rem !important;
}

.nav-h {
  @apply absolute z-[10];
  background-color: rgb(174, 174, 175);
}

.nav-h-d {
  @apply bg-black absolute z-[10] opacity-75;
}
