@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Extatica";
  src: url("./special.otf");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.def {
  font-family: "Segoe UI Variable", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
}

.tnr {
  font-family: "Times New Roman", Times, serif;
}

.geo {
  font-family: Georgia, "Segoe UI";
}

.gra {
  font-family: Garamond;
}

.ari {
  font-family: Arial, Helvetica, sans-serif;
}

.ext {
  font-family: "Extatica";
}

.bhn {
  font-family: "Bahnschrift", Verdana, Arial, Garamond, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.background {
  background-image: url("./bg.jpg");
}

.login-background {
  background-image: url("./bg.jpg");
  @apply h-screen w-screen flex items-center justify-center;
  transition: all 25ms linear;
}

.modal {
  @apply items-center justify-center flex w-[25rem] h-[40rem] bg-white rounded-lg shadow-lg flex-col;
  transition: all 500ms linear;
  user-select: none;
}

.modal h1 {
  font-weight: 900;
  font-size: 5ch;
  @apply text-blue-900;
}

.modal h2 {
  font-weight: 300;
  font-size: 30px;
  @apply text-violet-800;
}

.modal input,
.style-input {
  border-bottom: 3px solid gray;
  outline: none;
  transition: all 500ms linear;
  padding: 10px 15px;
  @apply bg-gray-200 w-[90%] rounded-t-md shadow-lg focus:shadow-xl focus:rounded-lg;
}

.search-input {
  border-bottom: 3px solid gray;
  outline: none;
  transition: all 500ms linear;
  padding: 10px 15px;
  @apply bg-gray-200 w-[90%] rounded-md shadow-lg focus:shadow-xl focus:rounded-t-lg focus:rounded-b-none;
}

.style-input-d {
  @apply bg-gray-500 text-white;
}

.modal input:enabled:hover,
.style-input:enabled:hover,
.style-input:enabled:hover,
.modal input:enabled:focus {
  border-bottom: 3px solid black;
}

.modal input:disabled,
.style-input:disabled {
  @apply rounded-lg border-none shadow-lg;
}

.button {
  @apply bg-blue-800 text-white rounded-lg w-[60%] h-[50px] mt-[10px];
  min-height: 50px;
  transition: all 250ms linear;
}
.button:hover {
  @apply bg-blue-900;
}

.button-success {
  @apply bg-green-700 hover:bg-green-800;
}

.button-danger {
  @apply bg-red-700 text-white rounded-lg w-[60%] h-[50px] mt-[10px];
  min-height: 50px;
  transition: all 250ms linear;
}
.button-danger:hover {
  @apply bg-red-800;
}

.button:disabled,
.button-danger:disabled {
  @apply bg-gray-500;
}

#toast {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 1%;
  right: 1%;
  overflow: hidden;
  transition: all 250ms linear;
}

@layer utilities {
  .toast {
    @apply text-white p-2 m-3 rounded-md shadow-md min-w-[20rem] min-h-[3rem] flex flex-col justify-center;
    transition: all 250ms linear;
    z-index: 1000;
  }

  .toast-success {
    @apply bg-green-700;
  }

  .toast-warn {
    @apply bg-yellow-700;
  }

  .toast-danger {
    @apply bg-red-700;
  }
}
