name: "publish"
on:
  pull_request:
    branches:
      - master

jobs:
  publish-app:
    strategy:
      fail-fast: false
      matrix:
        platform: [windows-latest]

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v2
      - name: setup node
        uses: actions/setup-node@v1
        with:
          node-version: 18
      - name: install Rust stable
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev webkit2gtk-4.0 libappindicator3-dev librsvg2-dev patchelf
      - name: install app dependencies and build it
        run: yarn && yarn build
        env:
          CI: "false"
      - uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAURI_PRIVATE_KEY: ${{secrets.TAURI}}
      - name: Upload Executable (folder)
        uses: actions/upload-artifact@v3
        with:
          name: ahqstore
          path: "src-tauri/target/release/"
      - name: Upload Executable (standalone)
        uses: actions/upload-artifact@v3
        with:
          name: ahqstore.exe
          path: "src-tauri/target/release/AHQ Store.exe"
