name: "Build & Publish App, Service, Scripts"
on:
  push:
    branches:
      - master

jobs:
  create-release:
    name: Create a new github release

    permissions:
      contents: write

    runs-on: ubuntu-latest

    outputs:
      upload_url: ${{ steps.get-u-url.outputs.result }}
      release_id: ${{ steps.get-id.outputs.result }}

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Create Release
        id: create-release
        uses: actions/github-script@v6
        with:
          script: |
            const fs = require("fs");
            const version = require('./package.json').version;

            const { data } = await github.rest.repos.createRelease({
              owner: context.repo.owner,
              repo: context.repo.repo,
              tag_name: version,
              name: `AHQ Store v${version}`,
              body: String(fs.readFileSync("./latest.md")),
              draft: true
            });
            return data

      - name: Get Release Id
        id: get-id
        uses: actions/github-script@v6
        env:
          data: ${{ steps.create-release.outputs.result }}
        with:
          result-encoding: string
          script: |
            let data = process.env.data;

            try {
              data = JSON.parse(data);

              console.log(data.id);

              return data.id;
            } catch (_) {
              console.log(data.id);
              return data.id;
            }

      - name: Get Upload Url
        id: get-u-url
        uses: actions/github-script@v6
        env:
          data: ${{ steps.create-release.outputs.result }}
        with:
          result-encoding: string
          script: |
            let data = process.env.data;

            try {
              data = JSON.parse(data);

              console.log(data.upload_url);

              return data.upload_url;
            } catch (_) {
              console.log(data.upload_url);
              return data.upload_url;
            }

  make-postinstaller:
    needs: create-release
    name: Build & Publish Postinstaller Script

    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Rust Stable
        uses: dtolnay/rust-toolchain@stable

      - name: Build Service Installer
        run: cargo build --release
        working-directory: src-service-tools

      - name: Upload Executable (standalone)
        uses: actions/upload-artifact@v3
        with:
          name: postinstall.exe
          path: "src-service-tools/target/release/store-tools-installer.exe"

      - name: Upload Release Asset
        id: upload-release-asset
        uses: ahqsoftwares-projects/upload-release-assets@v59
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create-release.outputs.upload_url }}
          asset_path: ./src-service-tools/target/release/store-tools-installer.exe
          asset_name: store-tools-installer.exe
          asset_content_type: application/vnd.microsoft.portable-executable

  publish-tauri:
    needs: create-release
    name: Build & Publish Tauri App & Service

    strategy:
      fail-fast: true
      matrix:
        platform: [windows-latest]

    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Cache vcpkg
        uses: actions/cache@v3
        with:
          path: vcpkg
          key: vcpkg-${{ runner.os }}-${{ runner.arch }}

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: latest

      - name: Install Rust Stable
        uses: dtolnay/rust-toolchain@stable

      - name: install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev webkit2gtk-4.0 libappindicator3-dev librsvg2-dev patchelf

      - name: install Vite dependencies and Build React App
        run: pnpm install; pnpm build
        env:
          CI: "false"

      - name: Decrypt Key / Load Encryption Key
        run: node encryptor.js
        env:
          KEY: ${{ secrets.SSL_ENCRYPT_DATA }}
      
      - name: Build Service
        run: cargo build --release
        working-directory: src-service
  
      - name: Upload Executable (standalone)
        uses: actions/upload-artifact@v3
        with:
          name: service.exe
          path: ./src-service/target/release/ahqstore_service.exe
  
      - name: Upload Release Asset
        id: upload-release-asset
        uses: ahqsoftwares-projects/upload-release-assets@v59
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create-release.outputs.upload_url }}
          asset_path: ./src-service/target/release/ahqstore_service.exe
          asset_name: ahqstore_service.exe
          asset_content_type: application/vnd.microsoft.portable-executable

      - name: Install OpenSSL with vcpkg
        run: |
          if [ ! -d vcpkg ]; then
            git clone https://github.com/Microsoft/vcpkg.git
          fi
  
          cd vcpkg
          .\bootstrap-vcpkg.bat
          .\vcpkg install openssl --triplet x64-windows-static-md
          .\vcpkg integrate install

      - name: Build Tauri App
        uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAURI_PRIVATE_KEY: ${{secrets.TAURI}}
        with:
          args: --verbose
          releaseId: ${{ needs.create-release.outputs.release_id }}

      - name: Upload Executable (standalone)
        uses: actions/upload-artifact@v3
        with:
          name: ahqstore.exe
          path: "src-tauri/target/release/AHQ Store.exe"
