/* Checkbox
*/
.checkbox {
  @apply bg-opacity-50 w-[98%] rounded-lg shadow-md p-[auto] min-h-[4rem] h-[auto] flex;
  transition: all 125ms linear;
  /*cursor: pointer;*/
    background-color: var(--fallback-bc, oklch(var(--bc)/0.2));
}

.checkbox h6 {
  @apply text-base-content my-auto;
  cursor: pointer;
}

.checkbox p {
  @apply text-base-content;
}

.checkbox option {
  @apply bg-base-200 mt-2 text-lg !important;
}

.checkbox optgroup {
  @apply text-lg !important;
}
