/* Checkbox
*/
.checkbox {
  @apply bg-base-200 hover:bg-base-300 w-[98%] rounded-lg shadow-md p-[auto] min-h-[4rem] h-[auto] flex;
  transition: all 125ms linear;
  cursor: pointer;
}

.checkbox h6 {
  @apply text-base-content my-auto;
  cursor: pointer;
}

.checkbox p {
  @apply text-base-content;
}

.checkbox option {
  @apply bg-base-100 mt-2 text-lg !important;
}

.checkbox optgroup {
  @apply text-lg !important;
}
